<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
<div class="summary">
    <p>Hello, My name is James Vanaselja. I recently graduated from the University of Central Florida in Orlando, FL with my B.S.
        in Information Technology. I currently work as a help desk specialist for Jacobs. In my spare time I like to tinker with computers,
        read books, play video games and explore Central Florida's various theme parks. I am currently not seeking any employment opportunities, 
        but I am always open to build networking connections. 
        <strong> At this time I am not seeking any employment opportunities. Thank you for your understanding.</strong></p>
</div><!--//summary-->
</section><!--//section-->
