<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
<div class="summary">
    <p>Hello, My name is James Vanaselja. I recently graduated from the University of Central Florida in Orlando, FL. I received my B.S. in IT
    and I am looking to start my career in the Information Technology field. I am seeking jobs in fields such as Information Security,
        Networking, Software Development, and other related areas. Please contact me if you are seeking an individual with entry-level experience in these fields.</p>
</div><!--//summary-->
</section><!--//section-->
