<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
<div class="summary">
    <p>Hello, My name is James Vanaselja. I recently graduated from the University of Central Florida in Orlando, FL. I studied Information Technology
    and I am looking to start my career in the Information Technology field. I am looking for jobs in various IT fields, such as Information Security, Networking, Software Development, and other related areas of Information Technology.</p>
</div><!--//summary-->
</section><!--//section-->
