<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
                
                
  
   <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Technical Support Specialist</h3>
                            <div class="time">June 2018 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">Jacobs</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Provides technical support to end users.
                          Acts as a system administrator for a medium sized office environment.</p>
                        <p>Coordinates with contractors to ensure that intelligent transportation system (ITS) equipment is running smoothly.</p>
                        
                    </div><!--//details-->
                </div><!--//item-->
             <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">SharePoint Intern</h3>
                            <div class="time">May 2016 - August 2016</div>
                        </div><!--//upper-row-->
                        <div class="company">University of Central Florida</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Worked in the Office of Information Security at UCF. Designed a Sharepoint Site for internal use. Drew various network topology diagrams using MS Visio.</p>  
                        <p>Shadowed the Sr. IT Buisness Analyst & Information Security manager. Practiced IT security procedures.</p>
                    </div><!--//details-->
                </div><!--//item-->
                
            </section><!--//section-->
