<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">SharePoint Intern</h3>
                            <div class="time">May 2016 - August 2016</div>
                        </div><!--//upper-row-->
                        <div class="company">University of Central Florida</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Worked in the Office of Information Security at UCF. Created a Sharepoint Site for internal use. Designed various network topology diagrams using MS Visio.</p>  
                        <p>Shadowed the Sr. IT Buisness Analyst & Information Security manager. Learned about IT security best practices and procedures.</p>
                    </div><!--//details-->
                </div><!--//item-->
             
                
            </section><!--//section-->
