<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Intern</h3>
                            <div class="time">May 2016 - August 2016</div>
                        </div><!--//upper-row-->
                        <div class="company">University of Central Florida</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p></p>  
                        <p></p>
                    </div><!--//details-->
                </div><!--//item-->
                
            </section><!--//section-->
