<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                <div class="intro">
                    <p>Various class projects & a few of my personal side projects. Click the project name for a link to the repository.</p>
                </div><!--//intro-->
                <div class="item">
                    <span class="project-title"><a href="#hook">Enterprise Computing</a></span> - <span class="project-tagline">
                      I built a three-tiered distributed web application using Windows, Apache, HTML/CSS, PHP, and MySQL to manage a database of various records.</span>
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Asteroids</a></span> - <span class="project-tagline">
                    Wrote an astroids game in Java using various OOP principles.</span>
                 </div><!--//item-->
                  <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Computer Network Lab</a></span> - <span class="project-tagline">
                   Configured and wired Cisco routers and switches and networked workstations for hands-on experience with networking equipment.</span>
                </div><!--//item-->
                  <div class="item">
                    <span class="project-title"><a href="https://github.com/jman1118/RFIDSystem" target="_blank">RFID System</a></span> - <span class="project-tagline">
                    A simple Java GUI application to mimic a RFID access control system.</span>
                  
                </div><!--//item-->
                 </div><!--//item-->
                  <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Secure Software Development</a></span> - <span class="project-tagline">
                     Created a test harness to check RAM for the Rowhammer vulnerablity in a Linux VM.</span>
                  
                </div><!--//item-->  
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Security in Computing</a></span> - <span class="project-tagline">
                    Used WireShark to scan and capture packets on an open network. Wrote a program to encrypt and decrypt using the Hill Cipher.</span>
                  
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="https://github.com/jman1118/Cryptography-" target="_blank">Cryptography</a></span> - <span class="project-tagline">
                   Wrote a Java program to crack the Affine Cipher. Created various programs to demonstrate different aspects of crypto, such as a Java program to find phi (&#981;) of a given number or
                  decrypt a substitution cipher.
                </div><!--//item-->
                
              </div> <!--//item-->
              <div class="item">
                <span class="project-title"> <a href="https://github.com/jman1118/TrainTrack" target="_blank">TrainTracker</a/</span> - <span class="project-tagline">
                  A simple Python Script using a Tkinter GUI pulling JSON (Java Script Object Notation) data from the WMATA API for tracking trains on the Washington Metro. Built as an experiment for pulling 
                  JSON data and translating that into a (somewhate) usable script.
                  </div><!--//item-->     
            </section><!--//section-->
